body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* SNOW */
.sky {
  position: absolute;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: block;
}

/* TREE */

svg {
  width: 90%;
  height: 90%;
  visibility: hidden;
}

#endMessage {
  font-family: mountains_of_christmasregular;
  font-size: 2rem;
  text-anchor: middle;
  text-align: center;
  fill: #ffffff;
  color: #ffffff;
  opacity: 0;
  letter-spacing: 1px;
}
