body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 0;
  margin: 0;
  opacity: 0; /* Começa invisível */
  animation: fadeIn 2s forwards; /* A animação acontece em 2 segundos */
  animation-delay: 8s; /* O texto vai aparecer após 3 segundos */
  color: #fff;
  font-size: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Começa invisível */
  }
  to {
    opacity: 1; /* Fica totalmente visível */
  }
}

/* SNOW */
.sky {
  position: absolute;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: block;
}

/* TREE */

svg {
  width: 500px;
  max-width: 800px;
  height: 90%;
  visibility: hidden;
}

/* @media screen and (max-width: 480px) {
  svg {
    width: 100px;
  }
} */

#endMessage {
  font-family: "Dancing Script";
  font-size: 4rem;
  text-anchor: middle;
  text-align: center;
  fill: #ffffff;
  color: #ffffff;
  opacity: 0;
  letter-spacing: 1px;
}
