/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: #151522;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.sky {
  position: absolute;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: block;
}

.container-tree {
  display: none;
}

.end-message {
  font-family: "Dancing Script";
  font-size: 2rem;
  text-anchor: middle;
  text-align: center;
  fill: #ffffff;
  color: #ffffff;

  letter-spacing: 1px;
  padding: 0;
  margin: 0;

  opacity: 0;
  -webkit-animation: fadeIn 2s forwards;
  animation: fadeIn 2s forwards;
  -webkit-animation-delay: 10s;
  animation-delay: 6s;
}

@media screen and (min-width: 1000px) {
  .end-message {
    font-size: 2.5rem;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; /* Começa invisível */
  }
  to {
    opacity: 1; /* Fica totalmente visível */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Começa invisível */
  }
  to {
    opacity: 1; /* Fica totalmente visível */
  }
}

/* GIFT */

:root {
  --red1: hsl(345, 100%, 48%);
  --red2: hsl(345, 100%, 38%);
  --white1: hsl(0, 0%, 100%);
  --white2: hsl(0, 0%, 90%);
  --blue: hsl(215, 100%, 20%);
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

.gift {
  --dur: 1.5s;
  position: relative;
  width: 18em;
  height: 18em;
}

.gift__bow,
.gift__bow-center,
.gift__bow-left,
.gift__bow-right,
.gift__box,
.gift__lid,
.gift__lid-shadow,
.gift__star {
  position: absolute;
}

.gift__bow-center,
.gift__bow-left,
.gift__bow-right {
  background-color: var(--red2);
}

.gift__bow {
  -webkit-animation: bowBounce var(--dur) ease-in-out infinite;
  animation: bowBounce var(--dur) ease-in-out infinite;
  bottom: 11em;
  left: 7.5em;
  width: 3em;
  height: 2em;
  -webkit-transform-origin: 50% 230%;
  -ms-transform-origin: 50% 230%;
  transform-origin: 50% 230%;
}

.gift__bow-center {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.gift__bow-left,
.gift__bow-right {
  -webkit-box-shadow: 0 0 0 0.7em var(--red1) inset;
  box-shadow: 0 0 0 0.7em var(--red1) inset;
  top: 0.3em;
  width: 4em;
  height: 5em;
  z-index: -1;
}

.gift__bow-left:before,
.gift__bow-right:before {
  background-color: var(--red1);
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.gift__bow-left {
  -webkit-animation: bowLeftPivot var(--dur) ease-in-out infinite;
  animation: bowLeftPivot var(--dur) ease-in-out infinite;
  border-radius: 1.5em 0 3em 1em / 1.5em 0 3em 3.5em;
  right: calc(100% - 0.75em);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transform-origin: 100% 15%;
  -ms-transform-origin: 100% 15%;
  transform-origin: 100% 15%;
}

.gift__bow-left:before {
  -webkit-clip-path: polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
  clip-path: polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
}

.gift__bow-right {
  -webkit-animation: bowRightPivot var(--dur) ease-in-out infinite;
  animation: bowRightPivot var(--dur) ease-in-out infinite;
  border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
  left: calc(100% - 0.75em);
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-transform-origin: 0% 15%;
  -ms-transform-origin: 0% 15%;
  transform-origin: 0% 15%;
}

.gift__bow-right:before {
  -webkit-clip-path: polygon(0 12%, 100% 42%, 100% 100%, 0 100%);
  clip-path: polygon(0 12%, 100% 42%, 100% 100%, 0 100%);
}

.gift__box,
.gift__lid,
.gift__lid-shadow {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.gift__box {
  -webkit-animation: boxBounce var(--dur) ease-in-out infinite;
  animation: boxBounce var(--dur) ease-in-out infinite;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--red2)), to(var(--red2))) 50% 50% / 3.3em 100% no-repeat, var(--white2);
  background: -o-linear-gradient(var(--red2), var(--red2)) 50% 50% / 3.3em 100% no-repeat, var(--white2);
  background: linear-gradient(var(--red2), var(--red2)) 50% 50% / 3.3em 100% no-repeat, var(--white2);
  border-radius: 1.5em;
  bottom: 0.5em;
  left: 3.3em;
  overflow: hidden;
  width: 11.4em;
  height: 9em;
}

.gift__lid,
.gift__lid-shadow {
  border-radius: 1em;
  width: 13em;
  height: 3.3em;
}

.gift__lid {
  -webkit-animation: lidBounce var(--dur) ease-in-out infinite;
  animation: lidBounce var(--dur) ease-in-out infinite;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--red1)), to(var(--red1))) 50% 50% / 3.3em 100% no-repeat, var(--white1);
  background: -o-linear-gradient(var(--red1), var(--red1)) 50% 50% / 3.3em 100% no-repeat, var(--white1);
  background: linear-gradient(var(--red1), var(--red1)) 50% 50% / 3.3em 100% no-repeat, var(--white1);
  bottom: 8.7em;
  left: 2.5em;
}

.gift__lid-shadow {
  -webkit-animation: lidShadowBounce var(--dur) ease-in-out infinite;
  animation: lidShadowBounce var(--dur) ease-in-out infinite;
  background-color: hsla(0, 0%, 0%, 0.1);
  top: -1.5em;
  left: -1em;
}

.gift__star {
  -webkit-animation: starRotateCW var(--dur) ease-in infinite;
  animation: starRotateCW var(--dur) ease-in infinite;
  background-color: var(--white1);
  -webkit-clip-path: polygon(50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0 50%, 35% 35%);
  clip-path: polygon(50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0 50%, 35% 35%);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.gift__star--2,
.gift__star--4,
.gift__star--5 {
  -webkit-animation-name: starRotateCCW;
  animation-name: starRotateCCW;
}

.gift__star--1 {
  -webkit-animation-delay: calc(var(--dur) * 0.5);
  animation-delay: calc(var(--dur) * 0.5);
  top: 0;
  left: 12.5em;
  width: 1.5em;
  height: 1.5em;
}

.gift__star--2 {
  -webkit-animation-delay: calc(var(--dur) * 0.125);
  animation-delay: calc(var(--dur) * 0.125);
  top: 2em;
  left: 10em;
  width: 1.75em;
  height: 1.75em;
}

.gift__star--3 {
  -webkit-animation-delay: calc(var(--dur) * 0.25);
  animation-delay: calc(var(--dur) * 0.25);
  top: 8em;
  left: 0;
  width: 1.25em;
  height: 1.25em;
}

.gift__star--4 {
  top: 10.5em;
  right: 0;
  width: 1.75em;
  height: 1.75em;
}

.gift__star--5 {
  -webkit-animation-delay: calc(var(--dur) * 0.375);
  animation-delay: calc(var(--dur) * 0.375);
  top: 12em;
  left: 1.8em;
  width: 2.5em;
  height: 2.5em;
}

.gift-click {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(255, 54, 54);
  border: 3px solid #fff;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
  border-radius: 9999px;
  position: absolute;
  bottom: -30px;
  right: 20px;
  color: #fff;
  font-size: 28px;
  font-family: "Sour Gummy";
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .gift-click {
    width: 150px;
    height: 150px;
    bottom: -30px;
    right: 20px;
    border: 4px solid #fff;
    font-size: 36px;
  }
}

.gift-click:hover {
  background: rgb(209, 30, 30);
}

/* Animations */
@-webkit-keyframes bowBounce {
  from,
  50% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  62.5% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(75%) rotate(0);
    transform: translateY(75%) rotate(0);
  }
  68.75% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-37.5%) rotate(15deg);
    transform: translateY(-37.5%) rotate(15deg);
  }
  75% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateY(-150%) rotate(5deg);
    transform: translateY(-150%) rotate(5deg);
  }
  87.5% {
    -webkit-transform: translateY(65%) rotate(-3deg);
    transform: translateY(65%) rotate(-3deg);
  }
  to {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
@keyframes bowBounce {
  from,
  50% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  62.5% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(75%) rotate(0);
    transform: translateY(75%) rotate(0);
  }
  68.75% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-37.5%) rotate(15deg);
    transform: translateY(-37.5%) rotate(15deg);
  }
  75% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateY(-150%) rotate(5deg);
    transform: translateY(-150%) rotate(5deg);
  }
  87.5% {
    -webkit-transform: translateY(65%) rotate(-3deg);
    transform: translateY(65%) rotate(-3deg);
  }
  to {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes bowLeftPivot {
  from,
  50% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  62.5% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  87.5% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}
@keyframes bowLeftPivot {
  from,
  50% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  62.5% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  87.5% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}
@-webkit-keyframes bowRightPivot {
  from,
  50% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  62.5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
  }
  87.5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@keyframes bowRightPivot {
  from,
  50% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  62.5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
  }
  87.5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-webkit-keyframes boxBounce {
  from,
  50% {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  62.5% {
    -webkit-transform: translateY(4%) scale(1.12, 0.89);
    transform: translateY(4%) scale(1.12, 0.89);
  }
  75% {
    -webkit-transform: translateY(-11%) scale(0.92, 1.1);
    transform: translateY(-11%) scale(0.92, 1.1);
  }
  87.5% {
    -webkit-transform: translateY(0) scale(1.05, 0.9);
    transform: translateY(0) scale(1.05, 0.9);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
}
@keyframes boxBounce {
  from,
  50% {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  62.5% {
    -webkit-transform: translateY(4%) scale(1.12, 0.89);
    transform: translateY(4%) scale(1.12, 0.89);
  }
  75% {
    -webkit-transform: translateY(-11%) scale(0.92, 1.1);
    transform: translateY(-11%) scale(0.92, 1.1);
  }
  87.5% {
    -webkit-transform: translateY(0) scale(1.05, 0.9);
    transform: translateY(0) scale(1.05, 0.9);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
}
@-webkit-keyframes lidBounce {
  from,
  50% {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
  62.5% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(45%) scale(1.14, 0.95) rotate(0);
    transform: translateY(45%) scale(1.14, 0.95) rotate(0);
  }
  68.75% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
    transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
  }
  75% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
    transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
  }
  87.5% {
    -webkit-transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
    transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
}
@keyframes lidBounce {
  from,
  50% {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
  62.5% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(45%) scale(1.14, 0.95) rotate(0);
    transform: translateY(45%) scale(1.14, 0.95) rotate(0);
  }
  68.75% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
    transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
  }
  75% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
    transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
  }
  87.5% {
    -webkit-transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
    transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
}
@-webkit-keyframes lidShadowBounce {
  from,
  50% {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
  62.5% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(10%) scale(1.14, 0.95) rotate(0);
    transform: translateY(10%) scale(1.14, 0.95) rotate(0);
  }
  68.75% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
    transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
  }
  75% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateY(-30%) scale(0.96, 1.1) rotate(5deg);
    transform: translateY(-30%) scale(0.96, 1.1) rotate(5deg);
  }
  87.5% {
    -webkit-transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
    transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
}
@keyframes lidShadowBounce {
  from,
  50% {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
  62.5% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateY(10%) scale(1.14, 0.95) rotate(0);
    transform: translateY(10%) scale(1.14, 0.95) rotate(0);
  }
  68.75% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
    transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
  }
  75% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateY(-30%) scale(0.96, 1.1) rotate(5deg);
    transform: translateY(-30%) scale(0.96, 1.1) rotate(5deg);
  }
  87.5% {
    -webkit-transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
    transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1) rotate(0);
    transform: translateY(0) scale(1, 1) rotate(0);
  }
}
@-webkit-keyframes starRotateCW {
  from {
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
  }
  25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: scale(1) rotate(0.25turn);
    transform: scale(1) rotate(0.25turn);
  }
  50%,
  to {
    -webkit-transform: scale(0) rotate(0.5turn);
    transform: scale(0) rotate(0.5turn);
  }
}
@keyframes starRotateCW {
  from {
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
  }
  25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: scale(1) rotate(0.25turn);
    transform: scale(1) rotate(0.25turn);
  }
  50%,
  to {
    -webkit-transform: scale(0) rotate(0.5turn);
    transform: scale(0) rotate(0.5turn);
  }
}
@-webkit-keyframes starRotateCCW {
  from {
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
  }
  25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: scale(1) rotate(-0.25turn);
    transform: scale(1) rotate(-0.25turn);
  }
  50%,
  to {
    -webkit-transform: scale(0) rotate(-0.5turn);
    transform: scale(0) rotate(-0.5turn);
  }
}
@keyframes starRotateCCW {
  from {
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
  }
  25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: scale(1) rotate(-0.25turn);
    transform: scale(1) rotate(-0.25turn);
  }
  50%,
  to {
    -webkit-transform: scale(0) rotate(-0.5turn);
    transform: scale(0) rotate(-0.5turn);
  }
}
