/* body {
  background: #151522;
}

.frame {
  display: inline-block;
  padding: 0;
  border-radius: 3px;
  font-size: 7em;
  text-shadow: 1px 2px  white;
  color: green;
  text-align: center;
}
.frame canvas {
  display: block;
  padding: 0;
  background: #151522;
}

#tree{
display:block;
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}

@media screen and (max-width: 620px) {
  #tree {
    width: 560px;  
  }
}

@media screen and (max-width: 560px) {
  #tree {
    width: 480px;  
  }
}

@media screen and (max-width: 500px) {
  #tree {
    width: 420px;  
  }
}

@media screen and (max-width: 420px) {
  #tree {
    width: 360px;  
  }
}

@media screen and (max-width: 380px) {
  #tree {
    width: 320px;  
  }
}

@media screen and (max-width: 320px) {
  #tree {
    width: 280px;  
  }
} */

@font-face {
  font-family: 'mountains_of_christmasregular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff2') format('woff2'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
background-color:#151522;
overflow: hidden;
  display: flex;
align-items: center;
justify-content: center; 
}

body,
html {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}


svg{
width:90%;
height:90%;
visibility:hidden;

}

.sparkle{
/* mix-blend-mode:luminosity */
}