body {
  background: #171720;
}

.frame {
  display: inline-block;
  padding: 0;
  border-radius: 3px;
  font-size: 7em;
  text-shadow: 1px 2px  white;
  color: green;
  text-align: center;
}
.frame canvas {
  display: block;
  padding: 0;
  background: #171720;
}

#tree{
display:block;
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}

@media screen and (max-width: 620px) {
  #tree {
    width: 560px;  
  }
}

@media screen and (max-width: 560px) {
  #tree {
    width: 480px;  
  }
}

@media screen and (max-width: 500px) {
  #tree {
    width: 420px;  
  }
}

@media screen and (max-width: 420px) {
  #tree {
    width: 360px;  
  }
}

@media screen and (max-width: 380px) {
  #tree {
    width: 320px;  
  }
}

@media screen and (max-width: 320px) {
  #tree {
    width: 280px;  
  }
}